target/META-INF/mule-src/prc-curie-employee-sync/converged-media-process/src/main/mule/converged-media-process.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="converged-media-process-main" doc:id="3a23d34d-b182-47d8-a4f9-dd4ca2c9a1c7">
        <http:listener config-ref="converged-media-process-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <set-variable value="#[payload]" doc:name="request" doc:id="e107e6f4-60a8-4559-a9ff-0040606a9dc0" variableName="request" />
        <logger level="INFO" doc:name="Logger" doc:id="36c8549c-7206-4852-9550-ea939bd75627" message="#[output application/json&#xA;---&#xA;{&#xA; correlationId : correlationId,&#xA; requestId : vars.request.requestId,&#xA; message: &quot;Converged Media Process started&quot;&#xA;}]" />
        <apikit:router config-ref="converged-media-process-config" doc:id="8b46bcc1-8ea5-4806-a321-0d80eda7f83e" />
        <flow-ref doc:name="publish-queue-subflow" doc:id="a1312f51-fd80-47d2-89e5-532751cab269" name="publish-queue-subflow" />
		<error-handler ref="globalError_Handler">

        </error-handler>
    </flow>
    <flow name="post:\performProposalOperation:application\json:converged-media-process-config">
        <flow-ref doc:name="implementationSub_Flow" doc:id="b137d595-91b3-4579-92a6-a4efc373e2ac" name="implementationSub_Flow" />
    </flow>
    <flow name="post:\getProposalStatus:application\json:converged-media-process-config">
		<flow-ref doc:name="get-proposal-status-implementation" doc:id="16b02d25-f7e4-4493-9c16-b3a3354a84f9" name="get-proposal-status-implementation" />
    </flow>
</mule>
