target/META-INF/mule-src/prc-curie-employee-sync/fsc-wealth-mgmt-integrations-impl/target/META-INF/mule-src/fsc-wealth-mgmt-integrations-impl/src/main/mule/fsc-wealth-management-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="fsc-wealth-management-api-main">
        <http:listener config-ref="fsc-wealth-management-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <logger level="INFO" message='#["\n RequestId: " ++ (attributes.queryParams.requestId default "N/A") ++ "\n FlowReferenceId: " ++ (attributes.queryParams.flowRefId default "N/A")]' doc:name="LOG INFO Traceable QueryParams in request" doc:description="Logger Traceable QueryParams in request"/>
		<logger level="INFO" message="#[payload]" doc:name="LOG INFO Request Received" doc:description="Logger Request Received"/>
        <apikit:router config-ref="fsc-wealth-management-api-config" doc:id="720127ba-aed9-4c3f-bd35-6e3c1f7f54de"/>
        <logger level="INFO" message="#[payload]" doc:name="LOG INFO Response Sent" doc:description="Logger Response Sent"/>
        <error-handler ref="common-exception-handler"/>
    </flow>
    <flow name="patch:\InvestmentAccounts\Update:application\json:fsc-wealth-management-api-config">
		<flow-ref doc:name="update-beneficiaries-sub-flow" doc:id="a905461d-b4f2-4cfb-9a5d-fdbeff4aa505" name="update-beneficiaries-sub-flow" />
    </flow>
    <flow name="delete:\InvestmentAccounts\Delete:application\json:fsc-wealth-management-api-config">
		<flow-ref doc:name="delete-beneficiaries-sub-flow" doc:id="7822a6ba-dbb2-4be0-ab99-912c180c0901" name="delete-beneficiaries-sub-flow" />
    </flow>
    <flow name="get:\InvestmentAccounts\(accountId)\Retrieve:fsc-wealth-management-api-config">
		<flow-ref doc:name="retrieve-investment-account-details-sub-flow" doc:id="8baa9b2c-53cb-4b90-bc63-ca5fcd9a061b" name="retrieve-investment-account-details-sub-flow" />
    </flow>
	<flow name="post:\InvestmentAccounts\Initiate:application\json:fsc-wealth-management-api-config">
		<flow-ref doc:name="add-beneficiaries-sub-flow" doc:id="428b2cff-c379-491d-90c0-b88ec8e35eb5" name="add-beneficiaries-sub-flow" />
	</flow>
	
	<flow name="patch:\customers\(customerId):application\json:fsc-wealth-management-api-config">
		<flow-ref doc:name="update-customers-profile-sub-flow" doc:id="7cda68e4-5f7e-48f6-a954-97518c509ac7" name="update-customers-profile-sub-flow" />
    </flow>
    
    <flow name="patch:\InvestmentAccounts\(accountId)\Payments\Update:application\json:fsc-wealth-management-api-config">
		<flow-ref doc:name="cancel-standing-orders-sub-flow" doc:id="e1916b31-f106-48fb-b55c-4e4d5b49521e" name="cancel-standing-orders-sub-flow" />
    </flow>
    
    <flow name="post:\InvestmentAccounts\(accountId)\Payments\Initiate:application\json:fsc-wealth-management-api-config">
		<flow-ref doc:name="add-standing-orders-sub-flow" doc:id="4974cc3f-6ec8-484a-9914-f89680d36d7f" name="add-standing-orders-sub-flow" />
    </flow>
    
    <flow name="get:\InvestmentAccounts\(accountId)\Payments\Retrieve:fsc-wealth-management-api-config">
		<flow-ref doc:name="retrieve-standing-orders-sub-flow" doc:id="e4927064-3469-4969-88f8-c280e517b068" name="retrieve-standing-orders-sub-flow" />
		
    </flow>
    
    <flow name="post:\InvestmentAccounts\(accountId)\Acats:application\json:fsc-wealth-management-api-config">
		<flow-ref doc:name="prepare-acats-response-sub-flow" doc:id="759daf5f-9b33-4463-a489-ce2707b5ba11" name="prepare-acats-response-sub-flow" />
        
    </flow>
    
    <flow name="post:\InvestmentAccounts\(accountId)\RMD:application\json:fsc-wealth-management-api-config">
		<flow-ref doc:name="prepare-rmd-response-sub-flow" doc:id="4c6834b1-310e-4fc3-837d-09aa595250e1" name="prepare-rmd-response-sub-flow" />
        
    </flow>
</mule>
