target/META-INF/mule-src/prc-curie-employee-sync/src/main/mule/prc-curie-employee-sync.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:workday="http://www.mulesoft.org/schema/mule/workday"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/workday http://www.mulesoft.org/schema/mule/workday/current/mule-workday.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">

	<flow name="prc-curie-employee-syncFlow" doc:id="bbba11f8-8a98-4b69-81b8-91610e38b723" >
		<scheduler doc:name="Scheduler" doc:id="6d39e422-cb64-4069-bb4b-40a6c74fd74c" >
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</scheduler>
		<logger level="INFO" doc:name="Start" doc:id="fdc624c6-1dd2-4bad-9a16-d2a36107a610" message="Start sync from workday to salesforce"/>
		<workday:staffing doc:name="get workers" doc:id="df5367f6-428c-4f02-8a4f-56de375872cb" config-ref="Workday_Config" operation="Get_Workers"/>
		<ee:transform doc:name="response workers" doc:id="3a9ab317-f733-4c43-a88d-2318c92bf81a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
ns ns0 urn:com.workday/bsvc
output application/java
---
payload.ns0#Get_Workers_Response.ns0#Response_Data]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="prc-curie-employee-syncSub_Flow" doc:id="23c838ea-6974-4829-ae5b-4f711815ca72" name="prc-curie-employee-syncSub_Flow"/>
		<logger level="INFO" doc:name="End" doc:id="67eb85f5-10f6-4a34-91e9-6154593e9457" message="sync completed End"/>
	</flow>
	<sub-flow name="prc-curie-employee-syncSub_Flow" doc:id="4680dbc5-7eca-40f5-aa57-9c2ca03a9a6b" >
		<foreach doc:name="For Each" doc:id="e73878c9-0c48-4fa8-b862-ecc9f77eb9ff" collection="payload" batchSize="100">
			<ee:transform doc:name="salesforce payload" doc:id="7d437979-6570-4518-bc3f-0e39fbec4161">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
ns ns0 urn:com.workday/bsvc
output application/json
---
payload map () -> {
	wid: $.ns0#Worker_Data.ns0#Worker_ID,
	firstName: $.ns0#Worker_Data.ns0#Personal_Data.ns0#Name_Data.ns0#Legal_Name_Data.ns0#Name_Detail_Data.ns0#First_Name,
	lastName: $.ns0#Worker_Data.ns0#Personal_Data.ns0#Name_Data.ns0#Legal_Name_Data.ns0#Name_Detail_Data.ns0#Last_Name 	
	}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			<salesforce:upsert doc:name="Upsert" doc:id="98ac9b66-b382-43c5-b21b-e60d4543eb9f" config-ref="Salesforce_Config" objectType="Account" externalIdFieldName="wid" />
			<logger level="INFO" doc:name="response salesforce" doc:id="26d75c36-6b19-46f2-aafe-5cb67672edd2" message="#[payload]" />
		</foreach>
	</sub-flow>
</mule>
