src/main/mule/common-api-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<sub-flow name="getSfUserName" doc:id="ec6232f7-21ca-4ab8-8bfe-0a3f2f70746e" >
		<ee:transform doc:name="Set sfUserName" doc:id="95dfec9e-622c-4126-aac5-3af2f1a5a85a" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="sfUserNameCount" ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-variable>
				<ee:set-variable variableName="sfUserName" ><![CDATA[%dw 2.0
output application/java
var peepStgUserNamesArr = Mule::p('sfdc.username') splitBy(",")
var peepStgUserNameIndex = randomInt(sizeOf(peepStgUserNamesArr default []) as Number)
var careInternUserNamesArr = Mule::p('careSf.intern.username') splitBy(",")
var careInternUserNameIndex = randomInt(sizeOf(careInternUserNamesArr default []) as Number)
var careExternUserNamesArr = Mule::p('careSf.extern.username') splitBy(",")
var careExternUserNameIndex = randomInt(sizeOf(careInternUserNamesArr default []) as Number)
---
{
	peepstg: peepStgUserNamesArr[peepStgUserNameIndex],
	careIntern: careInternUserNamesArr[careInternUserNameIndex],
	careExtern: careExternUserNamesArr[careExternUserNameIndex]
}]]></ee:set-variable>
				<ee:set-variable variableName="requestOrigin" ><![CDATA[%dw 2.0
output application/java
var requestOrigin = attributes.headers.requestOrigin default ""
---
requestOrigin]]></ee:set-variable>
				<ee:set-variable variableName="isCareSf" ><![CDATA[%dw 2.0
output application/java
var requestOrigin = upper(attributes.headers.requestOrigin) default "  "
---
(Mule::p('careSfRequestIOrigins') default "") contains requestOrigin]]></ee:set-variable>
				<ee:set-variable variableName="isRlSf" ><![CDATA[%dw 2.0
output application/java
var requestOrigin =  upper(attributes.headers.requestOrigin) default ""
---
(Mule::p('careSfOrigion') default "") == requestOrigin]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Log SF Username" doc:id="17dead28-963c-489e-9660-c107339ac400" message="SF Username: #[vars.sfUserName]" />
	</sub-flow>
	<flow name="common-errorFlow" doc:id="f3694c2d-d817-4398-8f36-b865fd4c4bee" >
		<ee:transform doc:name="Error Payload" doc:id="4638acfa-2f08-43ab-bfc0-1b6a592e4ee4" >
					<ee:message >
						<ee:set-payload  resource="dw/curie/errorPayload.dwl"/>
					</ee:message>
				</ee:transform>
				<logger level="ERROR" doc:name="Error Log" doc:id="7b38d57b-968c-4cc7-b1e4-47e3471640e5" message="#[payload]"/>
	</flow>
	<error-handler name="common-api-flowsError_Handler" doc:id="fb3cc69c-d1e6-4364-bbfe-efb4927ff8b2" >
		<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="1f3e0cad-98cb-4716-8a0a-f3958b930f80" >
			<flow-ref doc:name="common-errorFlow" doc:id="36b7c8a5-a84e-4ea6-bf44-19fba8645a3d" name="common-errorFlow"/>
		</on-error-continue>
	</error-handler>
</mule>